@model UniversityManagementSystemWebApp.Models.ClassSchedule
@{
    ViewBag.Title = "Class Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #wrapper {
        width: 50%;
        margin: 0 auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>



<div id="wrapper">
    <hr/>
    <h3>Class Schedule</h3>
    <hr/>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
         <div class="form-group">
            @Html.LabelFor(x => x.DepartmentId, new {@class = "col-md-3 control-label"})
            @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"), new {@class = "form-control"})
            @Html.ValidationMessageFor(x => x.DepartmentId)
        </div>
        <table border="1">
            <thead>
            <tr>
                <th>Course Code</th>
                <th>Name</th>
                <th>Schedule Info</th>
            </tr>
            </thead>
            <tbody id="ScheduleInfo"></tbody>
        </table>
    }
</div>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function() {
        $("#DepartmentId").change(function () {
            $("#ScheduleInfo").empty();
            var deptId = $("#DepartmentId").val();
            var json =
            {
                departmentId: deptId
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetClassScheduleByDepartmentId", "AllocateCllassroom")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#ScheduleInfo").append('<tr> <td>' + value.CourseCode + '</td> <td>' + value.CourseName + '</td> <td>' + value.Schedule + '</td></tr>');
                    });
                }
            });
        });
    });
</script>
