@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2 style="font-family: cursive;" align="center">WELCOME To University Management System</h2>
    <img src="~/University/assets/images/slides/img2.jpg" style="position: relative; height: 100%; width: 100%"/>
    
</div>

